:root {
  --cell-size: 150px;
  --X-size: calc(var(--cell-size) - 20%);
  --O-size: calc(var(--cell-size) - 30%);
}

.board {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: center;
  align-content: center;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border: 1px red solid;
  cursor: pointer;
  position: relative;
}

.cell:nth-child(1),
.cell:nth-child(4),
.cell:nth-child(7) {
  border-left: none;
}

.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(3),
.cell:nth-child(6),
.cell:nth-child(9) {
  border-right: none;
}

.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
  border-bottom: none;
}

.cell.x::before,
.cell.x::after {
  content: "";
  width: 10%;
  height: var(--X-size);
  position: absolute;
  background-color: red;
}

.cell.x::after {
  transform: rotate(45deg);
}

.cell.x::before {
  transform: rotate(-45deg);
}

.cell.o::before,
.cell.o::after {
  content: "";
  width: var(--O-size);
  height: var(--O-size);
  position: absolute;
  background-color: red;
  border-radius: 50%;
}

.cell.o::after {
  content: "";
  width: calc(var(--O-size) * 0.75);
  height: calc(var(--O-size) * 0.75);
  position: absolute;
  background-color: white;
  border-radius: 50%;
}

.result-message {
  display: none;
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.95);
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
  font-size: 2rem;
}

.result-message.show {
  display: flex;
}

.play-again-btn {
  background-color: white;
  padding: 10px;
  font-size: 2rem;
}
